body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  /* removing margins/adding flex in order to center the content
  min height centers vertically/horizontally */
}

h1 {
  margin: 0;
  margin-bottom: .5rem;
}

.input {
  border: 1px solid #333;
  border-radius: .3em;
  padding: .25rem;
  width: 7em;
  /* shortened the input field and added padding*/
}

select {
  margin-left: .5rem;
}

/* equal sign styling */
.equals {
  font-weight: bold;
  font-size: 2rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
